{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}StudyBuddy - Find study partners around the world!{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

 <!-- Favicon -->
 <link href="{% static 'img/favicon.ico" rel="icon' %}">

 <!-- Google Web Fonts -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

 <!-- Icon Font Stylesheet -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

 <!-- Libraries Stylesheet -->
 <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
 <link href="lib/animate/animate.min.css" rel="stylesheet">
 <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
 <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

 <!-- Customized Bootstrap Stylesheet -->
 <link href="css/bootstrap.min.css" rel="stylesheet">


  <!-- Customized Bootstrap Stylesheet -->
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
</head> 

<body>
  <!-- Topbar Start -->
  <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
                <small class="py-2">Call for Advertisemen <i class="fa fa-phone-alt me-2"></i> +251 944365493 </small>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-end">
            <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                <div class="me-3 pe-3 border-end py-2">
                    <p class="m-0"><i class="fa fa-envelope-open me-2"></i>amenguda@gmail.com</p>
                </div>
                <div class="py-2">
                    <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+251 944365493</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
  <header class="pb-3 ">
            <!-- Navbar Start -->
           
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                   <a class="nav-item nav-link active" id="google_translate_element"></a>
                   <a href="{% url "base:store_home" %}" class="nav-item nav-link">Home</a>
                    <a href="{% url "base:about" %}" class="nav-item nav-link">About</a>
                    <a href="{% url "base:services" %}" class="nav-item nav-link">Service</a>
                    <a href="{% url "base:contact" %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url "map:index" %}" class="nav-item nav-link">MAP</a>
                    <a href = "{%url "groupchat:home" %}" class="nav-item nav-link"> GroupChat</a>
                    <ul class="list-group list-group-flush dropdown-account-link">
                      {% if user.is_authenticated %}
                      <a href="{% url "account:dashboard" %}"class="nav-item nav-link">Your Account</a>
                      {% comment %} <a href="{% url "account:logoutUser" %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>       {% endcomment %}
                      {% else %}
                      <a href="{% url "account:login" %}"class="nav-item nav-link">SignUp</a>
                      
                      {% endif %}

                      
                    </ul>
                    {% if user.is_authenticated and user.is_staff %}
                    <a href="/admin/" class="nav-item nav-link">Admin</a>
                      {% endif %}
                   
                </div>
                 <a href="{{request.META.HTTP_REFERER}}"class="nav-item nav-link">GO Back</a>
                {% if user.is_authenticated %}
                <a href="{% url "account:logoutUser" %}"class="nav-item nav-link">Logout</a>
                {% endif %}
            </div>
        </nav>
        
    </nav>
  </header>

  <main class="pt-5 bg-white" >
   
    <div id="content">{% block content %} {% endblock %}</div>
  </main>

 
    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1;">
      <div class="container">
          <div class="bg-primary p-5">
              <form class="mx-auto" style="max-width: 600px;">
                  <div class="input-group">
                      <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                      <button class="btn btn-dark px-4">Sign Up</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <!-- Newsletter End -->
  

  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
      <div class="container pt-5">
          <div class="row g-5 pt-4">
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">Quick Links</h3>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                      <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">Popular Links</h3>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                      <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                      <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">Get In Touch</h3>
                  <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>JU JIT, Jimma, Ethiopia</p>
                  <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>amenguda@gmail.com</p>
                  <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+251 944365493</p>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">Follow Us</h3>
                  <div class="d-flex">
                      <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid text-light py-4" style="background: #051225;">
      <div class="container">
          <div class="row g-0">
              <div class="col-md-6 text-center text-md-start">
                  <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">Your Site Name</a>. All Rights Reserved.</p>
              </div>
              <div class="col-md-6 text-center text-md-end">
                  <p class="mb-0">Designed by <a class="text-white border-bottom" href="https://tamirat.netlify.app/">Amen Gud</a></p>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->
 


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: ('en,am,om,ti,sm') // Oromo, Amharic, Somali, Tigrigna
       
      }, 'google_translate_element');
    }
  </script>
  
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
  <script src="{% static "jquery/jquery.min.js"  %}"></script>
    <!-- jQuery UI 1.11.4 -->
  <script src="{% static "jquery-ui/jquery-ui.min.js"  %}"></script>
  <!-- Include Leaflet JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- JavaScript Libraries -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="lib/twentytwenty/jquery.event.move.js"></script>
  <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

  <!-- Template Javascript -->
  
  <script type="text/javascript" src="{% static 'core/css/base.js' %}" ></script>
  <script type="text/javascript" src="{% static 'core/slider.js' %}" ></script>
	<script type="text/javascript" src="{% static 'core/script.js' %}" ></script>
  <script type="text/javascript" src="{% static 'core/main.js' %}" ></script>
 
  
</body>

</html>