body{
    background-color: aquamarine;
}
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
    background-color: crimson;
  }
  .copyright{
    text-align: center;
  }
  