{% extends "../base.html" %}
{% load static %}
{% block stylesheet %}{% static 'store/css/store.css' %}{% endblock %}
{% block title %}
{% if doctosr %}{{ doctors.title }}{% else %}Doctor List{% endif %}
{% endblock %}
{% block content %}



<h2>{{ doctor.name }}</h2>
<div class="container-fluid py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
              <div class="team-item">
                  <div class="position-relative rounded-top" style="z-index: 1;">
                      <img class="img-fluid rounded-top w-100" src="{{ doctor.image.url }}" alt="">
                      <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                          <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                          <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                          <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                          <a class="btn btn-primary btn-square m-1" href="{% url 'base:users_feedback'  %}"><i class="fab fa-instagram fw-normal"></i></a>
                      </div>
                  </div>
                  <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                      <h4 class="mb-2"><a href="{% url 'base:doctor_detail' doctor.slug %}">{{doctor.role}} : {{ doctor.name }}</h4>
                      <p class="text-primary mb-0">Specialization:{{ doctor.specialization }}</p></a>
                  </div>
              </div>
             
          </li>
          <h2>{{ doctor.name }}</h2>
          <p>Specialization: {{ doctor.specialization }}</p>
          <p>Bio: {{ doctor.bio }}</p>
          <p>Country: {{ doctor.country }}</p>
          <ul>
            <h3>Appointments:</h3>
            <h1>{{ doctor.name }}</div>
              <h1>{{user.name }}</div>
            {% for appointment in appointments %}
              <li>{{ appointment.appointment_date }} - {{ appointment.patient_name }}</li>
            {% empty %}
              <li>No appointments found.</li>
            {% endfor %}
              </ul>

           
              {% comment %} {% include 'account/dashboard/users_feedback_template.html' %} {% endcomment %}

{% endblock %}